<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <appSettings>
        <!-- 1. Configurations related to Communication Service resource.-->

        <!-- Connection string of Azure Communication Service Resource. -->
        <add key="Connectionstring" value="%Connectionstring%"/>
        <!-- Phone number provisioned for the ACS resource (in E.164 Format, e.g. +1425XXXYYYY). This is an alternative phone id -->
        <add key="SourcePhone" value="%SourcePhone%"/>
        <!-- Destination identities to call. Format: "Outbound Target1(PhoneNumber); Outbound Target2(PhoneNumber)" For e.g. "+1425XXXAAAA ; +1425XXXCCCC" -->
        <add key="DestinationIdentities" value="%DestinationIdentities%"/>

        <!-- 2. Configurations related to environment-->

        <!-- Directory where ngrok.exe is saved. -->
        <add key="NgrokExePath" value="%NgrokExePath%"/>
        <!-- Secret for validating incoming request. -->
        <add key="SecretPlaceholder" value="h3llowW0rld"/>

        <!-- 3. Optional configurations for generating cusom audio message-->

        <!-- Cognitive service key (Optional). -->
        <add key="CognitiveServiceKey" value=""/>
        <!-- Cognitive service region (Optional). -->
        <add key="CognitiveServiceRegion" value=""/>
        <!-- Custom message that will be translated by Azure Cognitive service (Optional). -->
        <add key="CustomMessage" value="Hello, this is a reminder call. Press 1 for sales or 2 for marketing and 3 for customer care."/>

        <add key="SalesCustomMessage" value="You pressed 1 for Sales."/>

        <add key="MarketingCustomMessage" value="You pressed 2 for Marketing."/>

        <add key="CustomerCustomMessage" value="You pressed 3 for Customer care."/>

        <add key="InvalidCustomMessage" value="Invalid DTMF tone."/>

    </appSettings>
    <runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		</assemblyBinding>
    </runtime>
</configuration>
