<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- 1. Configurations related to Email Communication Service resource.-->

        <!-- Connection string of Azure Communication Service Resource. -->
        <add key="Connectionstring" value="%Connectionstring%" />

    </appSettings>
</configuration>